body{
    margin: 0px;
}

.blog-nav{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-size: 15px;
    padding-left: 150px;
    top: 0px;
    z-index: 10;
}

.menu{
    margin-left: 50%;
    display: flex;
}

.menu > li {
    padding-left: 50px;
}

.menu > li > a{
    font-size: 15px;
    color: rgb(99, 99, 99);
}

.title{
    width: 300px;
    font-size: 25px;
    font-weight: bold;
    font-family: "NanumSquareRoundL";
}
  
.title > a{
    color: rgb(49, 49, 49);
}

.menu > button {
    width: 120px;
    height: 35px;
    background-color: #46c4ff;
    color: white;
    border: none;
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    font-family: "NanumSquareRoundL";
}

.menu > button:hover {
    background-color: #28bbff;
}


@font-face {
    font-family: "NanumSquareRoundL";
    src: url(../font/NanumSquareR.otf);
}
.user{
}

.user .profile img{
    width: 8%;
    margin-left: 20px;
    border-radius: 20px;
}

.user .username{
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
}