@font-face {
    font-family: "NanumSquareRoundL";
    src: url(../font/NanumSquareR.otf);
}

body{
    margin: 0px;
    background-color: rgb(251, 251, 251);
    font-family: "NanumSquareRoundL";
}

.project_container{
    width: 1000px;
    height: 950px;
    margin: 0 auto;
    margin-top: 125px;
    margin-bottom: 45px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.project_box {
    background-color: rgb(209, 233, 247);
    border-radius: 10px;
    height: 350px;
}

.project_image{
    float: left;
    width: 25%;
    height: 300px;
}

.project_image img{
    width: 100%;
    margin: 50px;
    border-radius: 10px;
}

.project_header{
    line-height: 10px;
    width: 50%;
    height: 350px;
    float: right;
    margin-right: 150px;
}

.project_tags {
    margin-top: 30px;
    height: 20px;
}

.devlopDiary {
    margin-left: 400px;
    width: 350px;
    height: 30px;
    display: flex;
}

.devlopDiary h3{
    width: 100px;
    margin: 0px;
    margin-top: 10px;
}

.developDiary_List {
    width: 200px;
    display: block;
}

.develop_data {
    width: 80%;
    height:20px;
    margin-top: 50px;
    margin-left: -165px;
    padding: 20px 10px 10px 10px;
    border-radius: 10px;
    text-align: center;
    background-color: aliceblue;
}

.devlopDiary button{
    height: 30px;
    width: 75px;
    background-color: #7bffd3;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    font-family: "NanumSquareRoundL";
}

.project_btn {
    float: right;
    margin-top: -55px;
}

.project_btn button {
    margin: 10px;
    height: 30px;
    width: 75px;
    background-color: #ff3c3c;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    font-family: "NanumSquareRoundL";
}

.project_btn .update_btn {
    background-color: #4bff78;
}

.devlopDiary button:hover{
    background-color: #4bffc3;
}

.project_header h3{
    color: rgb(0, 0, 0);
}

.project_tags .tag{
    margin: 20px 0px 0px 0px;
    margin-right: 10px;
    width: auto;
    height: 15px;
    padding: 5px 10px;
    text-align: center;
    background-color: rgb(215, 215, 215);
    color: white;
    border-radius: 20px;
}

.project_header .project_title {
    float: none;
    margin-top: 5px;
    margin-bottom: 0px;
    display: flex;
}

.project_header .title_text{
    margin-top: 18.72px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 16px;
}

.project_header .Date {
    margin-right: 300px;
}

.project_header .Date .date_text {
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 16px;
}

.project_header .develop {
    margin-right: 300px;
    float: left;
}

.project_header .git {
    margin-right: 300px;
    margin-bottom: 10px;
    float: left;
}

.project_header .git .github_url {
    width: 500px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 16px;
}

.project_header .develop_name {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 16px;
}


.project_box .project_content{
    height: 300px;
    margin: 50px;
    padding-top: 350px;
}

.project_box .project_content h3{
    width:150px;
}

.project_content .content_text{
    height: 500px;
    width: 85%;
}