@font-face {
    font-family: "NanumSquareRoundL";
    src: url(../font/NanumSquareR.otf);
}

body{
    margin: 0px;
    background-color: rgb(251, 251, 251);
}

h5{
    margin: 0px 0px 0px 0px;
}

textarea{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 550px;
    border: 1px solid rgb(171, 171, 171);
    border-radius: 3px; 
}

.write_container{
    width: 1000px;
    height: 950px;
    margin: 0 auto;
    margin-top: 125px;
    margin-bottom: 45px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.project_write{
    padding-top: 50px;
    margin: 100px 100px 100px 100px;
}

.project_title{
    width: 50%;
    float: left;
    margin-bottom: 25px;
}

.title_input {
    padding: 0px;
    margin: 0px;
    width: 95%;
    height: 40px;
    border: 1px solid rgb(171, 171, 171);
    border-radius: 3px; 
}
.github_input {
    float: right;
    padding: 0px;
    margin: 0px;
    width: 95%;
    height: 40px;
    border: 1px solid rgb(171, 171, 171);
    border-radius: 3px; 
}

.github {
    width: 50%;
    float: left;
    margin-bottom: 25px;
}

.github h3{
    margin-left: 15px;
}

.Date {
    float: left;
}

.proejct_Date {
    display: flex;
}

.proejct_endDate {
    margin-left: 30px;
}

.proejct_startDate h5{
    margin-bottom: 10px;
}

.proejct_endDate h5{
    margin-bottom: 10px;
}

.tag {
    float: left;
    margin-left: 90px;
    display: flex;
}

.tags{
     margin-top: 20px;
     margin-left: 15px;
}

.project_button {
    float: right;
    margin: 20px 0px 10px 100px;
    display: flex;
}

.project_button button {
    margin-left: 20px;
    width: 110px;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-family: "NanumSquareRoundL";
}

.project_button .submit_btn:hover{
    background-color: #28bbff;
}

.project_button .cancel_btn:hover{
    background-color: #ff2424;
}

.project_button .submit_btn{
    background-color: #46c4ff;
}

.project_button .cancel_btn{
    background-color: #ff4646;
}

.tag_Input {
    margin: 0px 5px;
    width: 60px;
    height: 25px;
    text-align: center;
    background-color: rgb(215, 215, 215);
    color: white;
    border: 0px;
    border-radius: 20px;
}

.proejct_Date input{
    text-align: center;
    width: 120px;
}
